﻿<%@ Page Title="Домашняя страница" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeBehind="Default.aspx.vb" Inherits="WebApplication1._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        Добро пожаловать в ASP.NET!
    </h2>
    <p>
        Для получения дополнительных сведений об ASP.NET посетите веб-сайт <a href="http://www.asp.net" title="Веб-сайт ASP.NET">www.asp.net</a>.
    </p>
    <p>
        Кроме того, <a href="http://go.microsoft.com/fwlink/?LinkID=152368"
            title="Документация по ASP.NET на MSDN">документация по ASP.NET доступна на MSDN</a>.
    </p>
</asp:Content>
