﻿<%@ Page Title="Смена пароля" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeBehind="ChangePasswordSuccess.aspx.vb" Inherits="WebApplication1.ChangePasswordSuccess" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        Смена пароля
    </h2>
    <p>
        Ваш пароль был успешно изменен.
    </p>
</asp:Content>
